########################################
# ROS 2 (colcon)
########################################
build/
install/
log/

########################################
# Python
########################################
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/

########################################
# PyTorch / ML
########################################
*.pt
*.pth
*.ckpt
*.onnx

########################################
# Logs / outputs
########################################
*.log
logs/
outputs/
wandb/

########################################
# Docker
########################################
*.tar
docker/tmp/
.dockerignore

########################################
# macOS
########################################
.DS_Store
.AppleDouble
.LSOverride

########################################
# VS Code
########################################
.vscode/
*.code-workspace

########################################
# Temporary files
########################################
*.swp
*.tmp
*~

########################################
# mujoco
########################################
mujoco/env/
mujoco/venv/
mujoco/.venv/
mujoco/models/*.onnx
mujoco/models/*.pt